//
//  ConfigHelper.xcconfig
//  ParetoSecurityAuthorized
//
//  Created by Janez Troha on 24/05/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Config.xcconfig"

// The directory containing the source code and property lists for the helper tool.
TARGET_DIRECTORY = ParetoSecurityAuthorized


// ** There should not be a need to modify anything below this line in this configuration file ** //


// Bundle identifier used both in the info property list and so the build script knows which target it is running for.
// If you want to change the bundle identifier, change the value for HELPER_TOOL_BUNDLE_IDENTIFIER in Config.xcconfig.
PRODUCT_BUNDLE_IDENTIFIER = $(HELPER_TOOL_BUNDLE_IDENTIFIER)

// Name of the executable created by the build process. To satisfy SMJobBless this must match the bundle identifier.
TARGET_NAME = $(HELPER_TOOL_BUNDLE_IDENTIFIER)

// The product name match the name of executable.
PRODUCT_NAME = $(HELPER_TOOL_BUNDLE_IDENTIFIER)

// Property list locations
INFOPLIST_FILE = $(TARGET_DIRECTORY)/Info.plist
LAUNCHDPLIST_FILE = $(TARGET_DIRECTORY)/launchd.plist

// Inlines the property list files into the helper tool's binary.
// Note that CREATE_INFOPLIST_SECTION_IN_BINARY = YES can't be used to inline the info property list because this step
// occurs immediately *before* any scripts are run, preventing the property list from being modified.
OTHER_LDFLAGS = -sectcreate __TEXT __info_plist $(INFOPLIST_FILE) -sectcreate __TEXT __launchd_plist $(LAUNCHDPLIST_FILE)

// Tells Xcode Archive the helper tool shouldn't be an installable artifact (the app should be).
SKIP_INSTALL = YES
