name: Release

on:
  push:
    tags: [ v* ]

jobs:
  release:
    name: Build and Archive
    runs-on: macos-11
    timeout-minutes: 15
    permissions:
      issues: write 
      contents: write
      deployments: write
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.0'
    - name: "Import Certificate: Development"
      uses: devbotsxyz/xcode-import-certificate@master
      with:
        certificate-data: ${{ secrets.DEVELOPMENT_CERTIFICATE_DATA }}
        certificate-passphrase: ${{ secrets.DEVELOPMENT_CERTIFICATE_PASSPHRASE }}
        keychain-password: ${{ secrets.KEYCHAIN_PASSWORD }}
    - name: Repository checkout
      uses: actions/checkout@v2
    - name: Cache SPM modules
      uses: actions/cache@v2
      env:
        cache-name: cache-spm
      with:
        path: SourcePackages
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('Pareto Security.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Archive
      run: make archive | xcpretty && exit ${PIPESTATUS[0]}
    - name: "Notarize Release Build"
      uses: devbotsxyz/xcode-notarize@v1
      with:
        product-path: "build/mac/Pareto\ Security.app"
        appstore-connect-username: ${{ secrets.NOTARIZATION_USERNAME }}
        appstore-connect-password: ${{ secrets.NOTARIZATION_PASSWORD }}
    - name: "Staple Release Build"
      uses: devbotsxyz/xcode-staple@v1
      with:
        product-path: "build/mac/Pareto\ Security.app"
    - name: Compress app for storage
      run: ditto -V -c -k --keepParent build/mac/Pareto\ Security.app app.zip
    - name: Upload App to Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: app.zip
        path: app.zip
    - name: Release app
      uses: softprops/action-gh-release@v1
      with:
        files: app.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
